<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput id="username" type="text" formControlName="username" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput id="email" type="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput id="password" type="password" formControlName="password" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
</form>
