<header class="navbar__container" [class.colored__scrolled]="isScrolled">
  <nav class="navbar__nav container">
    <a [routerLink]="'/'" class="flex-start navbar__logo">
      <p>FILMLIB</p>
    </a>
    <div class="navbar__list">
      <a
        *ngIf="isAuthenticated && isAdmin"
        mat-button
        [routerLink]="'admin/movie/'"
        [routerLinkActive]="['activated-route']"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Log Out"
        >Add Movie</a
      >

      <a
        mat-button
        [routerLink]="''"
        [routerLinkActive]="['activated-route']"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Home"
        >Home</a
      >
      <a
        mat-button
        [routerLink]="'movies'"
        [routerLinkActive]="['activated-route']"
        aria-label="Movies"
        >Movies</a
      >

      <a
        *ngIf="!isAuthenticated"
        mat-button
        [routerLink]="'auth/login'"
        [routerLinkActive]="['activated-route']"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Sign In"
        >Sign In</a
      >

      <a
        *ngIf="!isAuthenticated"
        mat-button
        [routerLink]="'auth/register'"
        [routerLinkActive]="['activated-route']"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Sign Up"
        >Sign Up</a
      >

      <mat-icon [routerLink]="'user'" *ngIf="isAuthenticated"
        >account_circle</mat-icon
      >

      <a
        *ngIf="isAuthenticated"
        mat-button
        [routerLink]="'/'"
        [routerLinkActive]="['activated-route']"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLogout()"
        aria-label="Log Out"
        >Log Out</a
      >
    </div>
  </nav>
</header>
