<div class="poster">
  <a
    [routerLink]="isMovie ? '/movies/' + model.id : '/actor/' + model.id"
    [title]="'Go to ' + model.title"
  >
    <img
      class="poster__image"
      loading="lazy"
      [ngSrc]="model.titleImageLink ?? model.actorImageLink"
      srcset="{{model.titleImageLink ?? model.actorImageLink}} 1x, {{model.titleImageLink ?? model.actorImageLink}} 2x"
      [alt]="model.title ?? model.name"
      appImgMissingDirective
      [height]="159"
      [width]="239"
    />
  </a>

  <div class="poster__content">
    <a
      *ngIf="model.title ?? model.name"
      [routerLink]="isMovie ? '/movies/' + model.id : '/actor/' + model.id"
      [title]="model.title ?? model.name"
      class="poster__title colored-hover"
    >
      {{ model.title ?? model.name }}
    </a>
    <p *ngIf="model.year">
      {{ model.year }}
    </p>
  </div>
</div>
